
* {
  box-sizing: border-box;
}

.heading{
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
}

.everything{
  margin-left: 15px;
}

img{
  max-height: 400px;
  max-width: 200px;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.seats {
  left: 50%;
}

.preis{
  font-weight: bold;
  padding-top: 10px;
}

.ticketnummer{
  padding-top: 10px;
}

.adresse{
  padding-top: 10px;
}
.zwischentitel{
  font-weight: bold;
}

