<div class = "anfahrtBackground"></div>
<div class="anfahrt"><h1>Anfahrt & Kontakt  🚙</h1>
  <div class="componentsInLoop" *ngFor="let anfahrt of cinemas">
    <div class = "specialname">
      <h1>{{anfahrt.cinemaLocation}}</h1>
    </div>
    <div>
      <div class = image>
        <img src = {{anfahrt.source}}>
      </div>
      <br>
      <div class = adresse>
        {{anfahrt.adresse}}
      </div>
      <div class = telefon>
        {{anfahrt.telefon}}
      </div>
      <div class = email>
        {{anfahrt.email}}

      </div>
    </div>
    <br>
    <br>
  </div>
</div>
