<div class = "anfahrtBackground"></div>
<div class ="sidenav">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="buttonsHeaderMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" mat-button>
    <button mat-menu-item routerLink = "/adminpage" class = "menuItem">
      <span>Film hinzufügen</span>
    </button>
    <button mat-menu-item routerLink = "/filmadd" class="menuItem">
      <span>Kino hinzufügen</span>
    </button>
    <button mat-menu-item routerLink = "/kundendaten" class="menuItem">
      <span>Kundendaten einsehen</span>
    </button>
  </mat-menu>
</div>


<div class = "kundendaten">
  <h1> Kundendaten (WEITER BEARBEITEN!)</h1>
  <div>
    <b>Frederick Gruskey, 12.09.2003, fred.bern@gmx.de, 015253190738</b><br>
    <b>
      Ben Gruskey, 12.09.2003, fred.bern@gmx.de, 015253190738</b><br>
    <b>Simon Gruskey, 12.09.2003, fred.bern@gmx.de, 015253190738</b><br>
    <b>Alex Gruskey, 12.09.1999, fred.bern@gmx.de, 015253190738</b><br>
    <b>Jan Gruskey, 12.09.2000, fred.bern@gmx.de, 015253190738</b><br>
    <b>Jannik Gruskey, 12.09.2000, fred.bern@gmx.de, 015253190738</b><br>
    <b>Jeldrik Gruskey, 12.09.2002, fred.bern@gmx.de, 015253190738</b><br>
    <b>Thilo Gruskey, 12.09.1990, fred.bern@gmx.de, 015253190738</b><br>
    <b>Marc Gruskey, 12.09.1950, fred.bern@gmx.de, 015253190738</b><br>
    <b>Bella Gruskey, 11.09.1930, fred.bern@gmx.de, 015253190738</b><br>
    <b>Lisa Gruskey, 1.09.1920, fred.bern@gmx.de, 015253190738</b><br>
    <b>Klara Gruskey, 4.10.1995, fred.bern@gmx.de, 015253190738</b><br>
    <b>Jenny Gruskey, 4.11.2000, fred.bern@gmx.de, 015253190738</b><br>
    <b>Jonas Gruskey, 7.5.2013, fred.bern@gmx.de, 015253190738</b><br>
    <b>Lina Gruskey, 23.09.2013, fred.bern@gmx.de, 015253190738</b><br>
    <b>Maxi Gruskey, 24.4.2004, fred.bern@gmx.de, 015253190738</b><br>
    <b>Max Gruskey, 11.09.2005, fred.bern@gmx.de, 015253190738</b><br>
    <b>Sara Gruskey, 4.12.1999, fred.bern@gmx.de, 015253190738</b><br>
    <b>Sylvia Gruskey, 16.09.1998, fred.bern@gmx.de, 015253190738</b><br>
    <b>Roger Gruskey, 13.08.1995, fred.bern@gmx.de, 015253190738</b><br>
    <b>Nico Gruskey, 2.2.1970, fred.bern@gmx.de, 015253190738</b><br>
    <b>Marek Gruskey, 12.1.1969, fred.bern@gmx.de, 015253190738</b><br>
    <b>Josefa Gruskey, 12.09.2003, fred.bern@gmx.de, 015253190738</b><br>

  </div>


</div>
