<div class = "impressumBackground"></div>
<div class = "impressum">
    <h1>Impressum</h1>
    Dieses Projekt ist an der Dualen Hochschule Baden Würtemberg (DHBW) in Zusammenarbeit mit dem Dozenzten Gregor Tielsch entstanden.
     Dieses Projekt stellt eine Prüfungsleistung für das Modul Fallstudie dar.
      Für das Projekt wurden fremde Bilder/Videos/Textzeilen verwendet, wobei der Fundort mittels Quelle im Quellcode makiert ist. 
      Die zu bewertenden Verantwortlichen für das Projekt setzen sich wie folgt zusammen:
    <ul>
        <li>Braun Jonas</li>
        <li>Buddemeier Marc</li>
        <li> Klara</li>
        <li> Lina</li>
        <li> Jennifer</li>
    </ul>
</div>
