<div class = "impressumBackground"></div>
<div class = "impressum">
  <div class = "ueberschrift"> <p>Impressum</p></div>
  <p>Dieses Projekt ist an der Dualen Hochschule Baden-Württemberg in Zusammenarbeit mit dem Dozenten Gregor Tielsch entstanden. Das Projekt stellt die Prüfungsleistung für das Modul  'Methoden der Wirtschaftsinformatik II'  dar.</p>
  <p>Für das Projekt wurden fremde Bilder/Videos und Textzeilen verwendet, wobei der Fundort mittels Quelle im Quellcode makiert ist.</p>
  <br/>
  <p>Folgende Personen haben an dem Projekt mitgewirkt:</p>
  <ul>
    <li><i>Jonas Braun  -  6813146</i></li>
    <li><i>Marc Buddemeier  -  8466584</i></li>
    <li><i>Jennifer Tielke  -  6181218</i></li>
    <li><i>Klara Kulinna  -  4379580</i></li>
    <li><i>Lina Groth  -  9220827</i></li>

  </ul>
</div>
