<div class = "impressumBackground"></div>
<div class = "impressum">
    <h1>Impressum</h1>
    <p>Dieses Projekt ist an der Dualen Hochschule Baden-Württemberg (DHBW) in Zusammenarbeit mit dem Dozenten Gregor Tielsch entstanden und stellt eine Prüfungsleistung für das Modul Methoden der Wirtschaftsinformatik II dar.</p>
    <p>Für das Projekt wurden fremde Bilder/Videos/Textzeilen verwendet, wobei der Fundort mittels Quelle im Quellcode makiert ist.</p>
    <p>Die Gruppenmitglieder, die an diesem Projekt mitgewirkt haben, sind:</p>
    <ul>
        <li>Jonas</li>
        <li>Marc</li>
        <li>Klara</li>
        <li>Lina</li>
        <li>Jennifer</li>
    </ul>
</div>
