.impressumBackground {
  background-image: url(../../assets/img/Cinema.PNG) ;
  filter: blur(8px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.impressum{
  background-color: rgba(0,0,0, 0.8);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 30px;
  text-align: left;
  max-height: 80%;
  border-radius: 50px;
  line-height: 150%;
  margin-top: 10px;
  font-style: initial;


}

.ueberschrift{
  font-size:26px;
  line-height: 250%;
  font-style: normal;
}
