
<div class = "homescreenBackground"></div>
<div class = "homescreenForeground">
  <a mat-button class="buttonTickets" routerLink = "/programm" routerLinkActive="active" ariaCurrentWhenActive="page">
    <span>Jetzt Tickets sichern</span><br/><img class = "homescreenForegroundImg" src="../../assets/img/TicketsHier.png"></a>
</div>
<div class = "homescreenForegroundInformation">
  <div class = "Corona">
    <h1>Aktuelle Corona Regeln (Stand: 11.12.2022)</h1>
    <div class = "Maskenpflicht">
      <u>Maskenpflicht </u></div>
    <br>
    Eine Maskenpflicht ist nicht geltend für:
    <ul>
      <a>Geimpfte</a>
      <br>
      <a>Genesene</a>
      <br>
      <a>Getestete</a>
    </ul>
    <br>
    <div class = "Nachweispflicht">
      <u>Nachweispflicht</u></div>
    <br>
    Eine Nachweispflicht besteht weiterhin.
    <br>
    <br>
    <div class = "Abstände">
      <u>Abstände im Saal</u></div>
    <br>
    Die Abstandsregelungen sind aufgehoben.
    <br>
    <br>
    <div class = "Lüftung">
      <u>Lüftung</u></div>
    <br>
    Es findet eine Lüftung der Kinosäle nach jeder Vorstellung statt.
    <br>
    <br>
    <div class = "Symptome">
      <u>Symptome</u></div>
    <br>
    Wenn Sie Corona-Symptome aufweisen, müssen Sie leider auf einen Kinobesuch verzichten.
    <br>
    <br>

  </div>
</div>
<div class = "homescreenForegroundFilm">
  <h1>Filmvorschläge 🎬</h1>
  <div class = "Film">
    <img routerLink="programm" class = image *ngFor="let film of films" [src] = "film">
  </div>
</div>
